.vscode/**
.vscode-test/**


**/*.test.*
**/*.spec.*
*.log
coverage/
.vscode-test.*

src/**
**/*.ts
**/*.tsx
**/*.map


.gitignore
tsconfig.json
*.config.js
*.config.mjs
.yarnrc
package-lock.json


node_modules/

vsc-extension-quickstart.md
