# VS Code settings and test configs
.vscode/**
.vscode-test/**

# Source code 
src/**
**/*.ts
**/*.map

# Config files not needed in package
.gitignore
.yarnrc
tsconfig.json
eslint.config.mjs
.vscode-test.*


# Dev-only assets
images/**

# VS Code template file 
vsc-extension-quickstart.md
